{erl_opts, [debug_info]}.
{deps, [
        {erlexec, {git, "https://github.com/saleyn/erlexec", {ref, "32a9a5e9bcf1fe2"}}}
       ]}.

{plugins, [pc]}.

{port_env, [
            {"CFLAGS", "$CFLAGS -shared -rdynamic -fPIC -g -std=gnu99"},
            {"LDFLAGS", "$LDFLAGS -shared -rdynamic -fPIC"}
            ]}.

{port_specs,[
             {"(linux)", "priv/start-otp.so", ["c_src/*.c"]}
            ]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.
